# <center> ***Taller 1: Programación*** </center>
###  Daniel Felipe Rojas Paternina

In [30]:
#Librerias
import numpy as np
import pandas as pd

In [21]:
#Clase
class Lecture:
    '''Esta clase nos ayuda a leer datos de dataframes de pandas'''
    def __init__(self,DataName):
        '''DataName: String con la dirección y nombre del csv'''
        self.data = pd.read_csv(DataName)
        self.LenData = len(self.data)
            
    def GiveMe(self,n):
        '''n = número de la fila en la que se encuentran los datos, igual a al Id-1 de la información'''
        NewData = self.data.iloc[n+1:n+3]
        if n < self.LenData - 2:    
            self.DataNew = NewData 
        elif n == self.LenData - 3:
            Index = list(NewData.columns.values)
            Values = ['Error']*len(Index)
            self.DataNew = NewData.append(pd.Series(Values,index=Index),ignore_index=True) 
        else:
            Index = list(NewData.columns.values)
            Values = ['Error']*len(Index)
            self.DataNew = NewData.append(pd.Series(Values,index=Index),ignore_index=True)

In [22]:
#Lectura de DataFrame
ruta = '/home/pater/Desktop/CosasPater/UNAL/2023-02NovenoSemestre/IA/Taller1/Iris.csv'
ClassData = Lecture(ruta)
ClassData.data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [24]:
#Prueba función GiveMe
ClassData.GiveMe(149)
ClassData.DataNew

/tmp/ipykernel_13061/3372057130.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.DataNew = NewData.append(pd.Series(Values,index=Index),ignore_index=True)

      Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
0  Error         Error        Error         Error        Error   Error

In [25]:
#Prueba función GiveMe
ClassData.GiveMe(148)
ClassData.DataNew

/tmp/ipykernel_13061/3372057130.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.DataNew = NewData.append(pd.Series(Values,index=Index),ignore_index=True)

      Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm         Species
0    150           5.9          3.0           5.1          1.8  Iris-virginica
1  Error         Error        Error         Error        Error           Error

In [26]:
#Prueba función GiveMe
ClassData.GiveMe(147)
ClassData.DataNew

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
#Prueba función GiveMe
ClassData.GiveMe(4)
ClassData.DataNew

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa